@keyframes buttons {
    from {background-color: rgb(221, 219, 101);  }
    to {background-color: tomato; }
}

div.buttons {
    background-color: rgb(107, 75, 180);
    margin-left: auto;
    margin-right: auto;
    border: 2px solid rgb(42, 10, 102);
    padding: 5px;
 }

 div.buttons#mezo10 {
     height: 300px;
     width: 300px;
 }

 div.buttons#mezo15 {
     height: 450px;
     width: 450px;
 }

 div.buttons#mezo20 {
     height: 600px;
     width: 600px;
 }

 div.buttons a.minebutton {
     background-color: red;
     color: red;
 }
 
 div.buttons a.pressedbutton {
     background-color: lightgray;
     color: black;
 }

 div.buttons a.pressedemptybutton {
     background-color: lightgray;   
     color: lightgray;
 }
 
 div.buttons a {
     width: 22px;
     height: 22px;
     line-height: 22px;
     background-color: rgb(221, 219, 101);
     margin: 1px;
     border: 1px solid black;
     border-radius: 4px;
     padding: 2px;
     text-decoration: none;
     display: inline-block;
     text-align: center;
     font-size: 10px;
     font-family: 'Exo', sans-serif;
     font-weight: bolder;
 }

 div.buttons a.color1 {
     color: blue;
 }
 div.buttons  a.color2 {
     color: green;
 }
 div.buttons  a.color3 {
     color: red;
 }
 div.buttons  a.color4 {
     color: darkblue;
 }
 div.buttons  a.color5 {
     color: maroon;
 }
 div.buttons  a.color6 {
     color: turquoise;
 }
 div.buttons  a.color7 {
    color: black;
 }
 div.buttons  a.color8 {
     color: grey;
 }
 

 div.buttons a.activebutton {
     color: rgb(221, 219, 101);
 }
 

 div.buttons a.activebutton:hover {
    background-color: tomato;
    color: tomato;
    animation-name: buttons;
    animation-duration: 0.08s;
    animation-timing-function: linear;
    margin: 0px;
    padding: 3px;
 }
 
