@import url('https://fonts.googleapis.com/css?family=Exo|Montserrat|Quicksand&subset=latin-ext');
@keyframes nav_menu {
    from {text-shadow: none;}
    to {text-shadow: 0 0 3px rgb(221, 219, 101);}
}
body {
    background-color: rgb(216, 202, 245);
    background-image: url("../img/fabric.png")
}

div#container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(109, 84, 199);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-image: url("../img/purple-triangles.png");
}
header, footer {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 50px;
    overflow: hidden;
    text-transform: uppercase;
    background-color: rgb(71, 52, 156);
    color: rgb(221, 219, 101);
}

header {
    border-radius: 5px 5px 5px 0;
}

header p {
    margin-top: none;
    text-shadow: 0 0 5px rgb(216, 202, 245);
    letter-spacing: 10px;
}

header a {
    float: right;
    font-size: 12px;
    text-decoration: none;
    color: rgb(221, 219, 101);
    margin: 15px 15px 15px 0;
    letter-spacing: 1px;
}

header a:hover {
    text-decoration: underline;
}

footer {
    border-radius: 5px 5px 5px 5px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

footer p, footer a {
    font-size: 14px;
    margin: 20px;
    letter-spacing: 1px;
}

footer a {
    text-decoration: none;
    font-size: 12px;
    color: rgb(221, 219, 101);
    margin-left: 10px;
    margin-right: 10px;
}

footer a:hover {
    text-decoration: underline;
}

nav {
    margin-top: 0px;
    width: 360px;
    position: sticky;
    top: 0;
}

nav ul {
    list-style-type: none;
    overflow: auto;
    margin: 0px;
    background-color: rgb(71, 52, 156);
    border-radius: 0 0 8px 8px;
}
nav ul li {
    padding-top: 8px;
    padding-bottom: 8px;
    float: left;
}
nav ul li a {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
    color:rgb(221, 219, 101);
    font-family: 'Exo', sans-serif;
    text-transform: uppercase;
    border-radius: 3px;
    position: sticky;
}
nav ul li a:hover {
    text-shadow: 0 0 3px rgb(221, 219, 101);
    animation-name: nav_menu;
    animation-duration: 0.2s;
    animation-timing-function: linear;
}

nav ul li a#active {
    text-shadow: 0 0 5px rgb(216, 202, 245);
    animation: none;
}

main {
    width: 80%;
    min-height: 60%; /*így kéne, de firefos-ban nem jó*/
    min-height: 600px;
    /*padding: 10px;*/
    padding: 1%;
    margin-left: auto;
    margin-right: auto;
    margin-top: none;
    font-family: 'Montserrat', sans-serif;
    color: rgb(221, 219, 101);
    text-align: justify;
}

main p {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
}

div.leiras, div.fooldal, div.buttons {
    background-image: url("../img/seamless-paper-purple.png");
    width: 70%;
    border-radius: 4px;
    padding: 20px;
    margin: 30px;
    background-color: rgb(127, 100, 224);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.096), 0 6px 20px 0 rgba(0, 0, 0, 0.103);
}

div.leiras:nth-child(even) {
    margin-left: 25%;
    margin-right: auto;
}
div.leiras:nth-child(odd) {
    margin-right: 25%;
    margin-left: auto;
}
div.leiras ol#kepek {
    float: right;
    position: relative;
    bottom: 150px;
    right: 230px;
}

div.leiras ol#kepek li img {
    position: relative;
    top: 7px;
    left: 15px;
}

div.fooldal {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

div.fooldal#gombok {
    height: 80px;
    width: 45%;
    background: inherit;
    box-shadow: none;
}

div.fooldal a {
    margin: 5px;
    padding: 5px;
    background-color: rgb(221, 219, 101);
    height: 40px;
    width: 100px;
    padding: 10px;
    line-height: 40px;
    font-family: 'Exo', sans-serif;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(71, 52, 156);
    border-radius: 5px;
    transition: height 0.5s;
}

div.fooldal a:hover {
    height: 80px;
}

aside#kepek {
    position: relative;
    left: 500px;
    bottom: 100px;
    background-color: aqua;
    width: 200px;

}
aside#kepek img {
    float: left;
}
aside#videoleiras {
    width: 60%;
}
aside#video {
    position: relative;
    right: 80px;
    bottom: 190px;
}
aside#video video {
    float: right;
}